{{define "content"}}
  <div class="content">
    <div class="panel c-panel">
      <nav class="navrow">
        <span class="nav-item">
          <a href="/">Home</a>
        </span>
        <span class="nav-item nav-item-active">
          <a href="/projects">Projects</a>
        </span>
        <span class="nav-item">
          <a href="/skills">Skills</a>
        </span>
        <span class="nav-item">
          <a href="/experience">Experience</a>
        </span>
        <span id="lastNavBtn" class="nav-item">
          <a href="/contact">Contact</a>
        </span>
      </nav>
      <main>
        {{block "subContent" .}}{{end}}
      </main>
    </div>
  </div>
{{end}}
