{{define "content"}}

<div class="content home-content">

  <section class="hero">
      <div class="hero-content panel">
          <h1 class="hero-title">KALEB OLSON</h1>
          <p class="hero-subtitle">Developer · Tinkerer · Problem Solver</p>
          <a href="/contact" class="btn btn-contact">LET'S CHAT</a>
      </div>
      <div class="portrait-container">
        <div class="speech-bubble panel">
          <span class="icon close-icon hide"></span>
          <div class="speech-bubble-default">
            <p>I am a Full Stack Developer with a DevOps focus, here for the love of the game.</p>
            <br/>
            <p>Try the code candies! <span class="icon help-icon" data-tooltip="Hover over or tap the funny words">?</span></p>
          </div>
          <div class="speech-bubble-dynamic"></div>
        </div>
        <img class="portrait" src="/images/kaleb-cartoon.png" />
      </div>
  </section>

  <div class="stamp-container">
    <div class="stamp-wrap">
      <span class="stamp stamp-1 blob">Modular!</span>
    </div>
    <div class="stamp-wrap">
      <span class="stamp stamp-2 starburst">Declarative!</span>
    </div>
    <div class="stamp-wrap">
      <span class="stamp stamp-3 banner">Scalable!</span>
    </div>
    <div class="stamp-wrap">
      <span class="stamp stamp-4 quad">End-to-End!</span>
    </div>
    <div class="stamp-wrap">
      <span class="stamp stamp-5 blob">Portable!</span>
    </div>
    <div class="stamp-wrap">
      <span class="stamp stamp-6 banner">Succinct!</span>
    </div>
    <div class="stamp-wrap">
      <span class="stamp stamp-7 starburst">Lean!</span>
    </div>
  </div>

  <div class="main-button-row">
    <a class="btn main-button" href="/projects"><span>PROJECTS</span></a>
    <a class="btn main-button" href="/skills"><span>SKILLS</span></a>
    <a class="btn main-button" href="/experience"><span>EXPERIENCE</span></a>
  </div>
</div>

<script src="/static/indexCtrl.js"></script>
{{end}}
