{{define "content"}}

<div class="content home-content">

  <section class="hero">
      <div class="hero-content panel">
          <h1 class="hero-title">KALEB OLSON</h1>
          <p class="hero-subtitle">Developer · Tinkerer · Problem Solver</p>
          <a href="/contact" class="btn btn-contact">LET'S CHAT</a>
      </div>
      <div class="portrait-container">
        <img class="portrait" src="/images/kaleb-cartoon.png" />
      </div>
  </section>

  <!-- <section class="blurb panel"> -->
  <!--     <h2>WHO?</h2> -->
  <!--     <p>Full Stack Engineer with a DevOps focus.</p> -->
  <!--     <h2>WHY?</h2> -->
  <!--     <p>Here for the love of the game. Talk to me about build pipelines, managing environments, self hosting, or neovim!</p> -->
  <!-- </section> -->

  <div class="main-button-row">
    <button class="btn main-button">PROJECTS</button>
    <button class="btn main-button">SKILLS</button>
    <button class="btn main-button">EXPERIENCE</button>
  </div>
</div>

  <div class="stamp-layer">
    <span class="stamp stamp-1 blob">Modular!</span>
    <span class="stamp stamp-2 starburst">Repeatable!</span>
    <span class="stamp stamp-3 banner">Scalable!</span>
    <span class="stamp stamp-4 quad">Declarative!</span>
  </div>
{{end}}
